{% set main_menu = page.primary_menu|render %}
{% set secondary_menu = page.secondary_menu|render %}
<div{{ attributes.addClass(
  'layout-container',
  main_menu or secondary_menu ? 'with-navigation',
  secondary_menu ? 'with-subnav'
) }}>

  <!-- ______________________ HEADER _______________________ -->
  {% if page.pop_up %}
      <div class="absolute pop_up-container">
          {{ page.pop_up }}
      </div>
  {% endif %}

  {% if page.header %}
    <header id="header">
      <div class="container">
        <div id="header-region" class="header__content">
          {{ page.header }}
        </div>
      </div>
    </header><!-- /#header -->
  {% endif %}

  {% if page.main_menu or secondary_menu %}
    <nav id="navigation" class="menu{% if main_menu %} with-primary{% endif %}{% if secondary_menu %} with-secondary{% endif %}">
      <div class="main-menu__container" id="js-main-menu">
        <div class="main-menu__content container">
        {{ page.main_menu }}
        </div>
        {{ secondary_menu }}
      </div>
    </nav><!-- /#navigation -->
  {% endif %}

  <!-- ______________________ MAIN _______________________ -->

  <div id="main">
    <div class="slider__container">
      <div class="slider__content">
            {{ page.slider }}
      </div>
    </div>
    {% if page.page_title %}
    <div class="container-bg__title">
      <div class="container">
            {{ page.page_title }}
      </div>
    </div>
    {% endif %}
    {% if page.difrent_bg_content %}
    <div class="container-bg__secondary__color">
      <div class="container">
            {{ page.difrent_bg_content }}
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div id="content-wrapper">
        <section class="main-content" id="content">

          <div id="content-header">

            {{ page.breadcrumb }}

            {% if page.highlighted|render %}
              <div id="highlighted">{{ page.highlighted }}</div>
            {% endif %}

            {{ title_prefix }}

            {% if title %}
              <h1 class="title">{{ title }}</h1>
            {% endif %}

            {{ title_suffix }}
            {{ page.help }}

            {% if tabs %}
              <div class="tabs">{{ tabs }}</div>
            {% endif %}

            {% if action_links %}
              <ul class="action-links">{{ action_links }}</ul>
            {% endif %}

          </div><!-- /#content-header -->

          {% if page.two_grid_content |render %}
          <div id="two-grid-content" class="grid grid-2 padding-1-0-1-0">
          <div class="flex-col-ss">
              <h4 class="color-primary">¡Escríbenos!</h4>
              <h6>te responderemos a la brevedad</h6>
            </div>
            {{ page.two_grid_content }}
          </div>
        {% endif %}

          <div id="content-area" class="content-area">
            {{ page.content }}
          </div>

        </section><!-- /#content -->

        {% if page.sidebar_first|render %}
          <aside id="sidebar-first" class="column sidebar first">
            {{ page.sidebar_first }}
          </aside><!-- /#sidebar-first -->
        {% endif %}

        {% if page.sidebar_second|render %}
          <aside id="sidebar-second" class="column sidebar second">
            {{ page.sidebar_second }}
          </aside><!-- /#sidebar-second -->
        {% endif %}

      </div><!-- /#content-wrapper -->
    </div>
    <div class="container-bg__primary__color padding-3-0">
      <div class="container">
            {{ page.contact_info }}
      </div>
    </div>
    <div class="container">
      <div class="content padding-3-0">
            {{ page.news }}
      </div>
    </div>
    <!-- /.container -->
  </div><!-- /#main -->

  <!-- ______________________ FOOTER _______________________ -->

  {% if page.footer|render %}
    <footer id="footer">
      <div class="container">
        <div id="footer-region" class="footer__content">
          {{ page.footer }}
        </div>
      </div>
    </footer><!-- /#footer -->
  {% endif %}
  {% if page.footer_small|render %}
    <div class="footer-small__container" id="footer-small">
      <div class="container">
        <div id="footer-small-region">
          {{ page.footer_small }}
        </div>
      </div>
    </div><!-- /#footer -->
  {% endif %}

</div><!-- /.layout-container -->
